.bundle__items {
  display: flex;
  flex-direction: row;
  gap: 3px;
  width: min-content;
}

.bundle__item {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1px;
  align-items: center;
  text-align: center;
}

.bundle__item span {
  font-size: 1rem;
  font-weight: 700;
}
